@font-face {
  font-family: 'Avenir Medium';
  font-style: normal;
  font-weight: normal;
  src: url('~assets/fonts/avenir/Avenir-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Roman';
  font-style: normal;
  font-weight: 300;
  src: url('~assets/fonts/avenir/Avenir-Roman.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Heavy';
  font-style: normal;
  font-weight: 700;
  src: url('~assets/fonts/avenir/Avenir-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Black';
  font-style: normal;
  font-weight: bold;
  src: url('~assets/fonts/avenir/Avenir-Black.woff') format('woff');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.googleapis.com/css?family=VT323');
}

@import 'base/variables';
@import 'base/text';
@import 'base/base';
@import 'base/colors';
@import 'base/shadow';
@import 'base/space';
@import 'base/buttons';
@import 'base/icons';
@import 'base/animations';
@import 'base/modal';

[v-cloak] {
  display: none;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.bg-color {
  background: #0D0D0E;
}

body {
  padding-right: 0!important
}
